.text-shadow {
    text-shadow: 2px 2px 2px black;
    left: 40%;
}

.flashes h4 {
    line-height: 2;
}

body { 
    min-height: 100vh;
    background-image: linear-gradient(-45deg, grey 50%, #fafafa 50%);
    font-family: 'Raleway', sans-serif;
}
/*Navbar section*/
nav .brand-logo.center{
    left: 30%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.country-label {
    margin: 20px;
}

.pais{
    margin: 20px;
}

/* Carousel section*/
.title {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitle {
    margin: 0;
    color: white;
    display: inline;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.cities { 
    color: #fff;
    margin: 7px 0;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.division-line {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

.carousel {
    min-height: 400px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
}
/*buttons section*/
.boton{
    border-radius: 50px;
}

.light-blue.darken-1 {
    background-color: #039be5 !important;
    margin-right: 15px;
    margin-top: 15px;
}

.red.accent-4 {
    background-color: #D50000 !important;
    left: 0%;
}

.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
    left: 1%;
}

/*Search box*/
.card-panel {
   padding: 5px;
   margin: rem 5rem 3rem 5rem;
   border-radius: 20px;
}

.btn-small{
    border-radius: 20px;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-top: 10p;
    padding-bottom: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px black;
    /* left: 40%; */
    /* margin-bottom: 15px; */
    margin-top: 15px;
    left: 200px;
}

/*Input button*/
.btn-large {
    border-radius: 20px;
    left: 1%;
}
 
.btn{
    border-radius: 20px;
    width: 130px;
}

@media screen and (max-width: 1024px) {
.light-blue.darken-1 {
    background-color: #039be5 !important;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    left:15px;
}
.btn {
    border-radius: 20px;
    width: 130px;
    left: 10px;
}
.pais {
    margin: 20px;
}
}
@media screen and (max-width: 600px) {
 nav .brand-logo.center {
    left: 35%;
    transform: translateX(-50%);
    margin-top: 15px;
}
.btn {
    border-radius: 20px;
    margin-bottom: 10px;
    left: 15%;
}
.red {
    background-color: #F44336 !important;
    margin-left: 1px;
    left: 12px;
}
.red.accent-4 {
    background-color: #D50000 !important;
    left: 0%;
    margin-bottom: 5px;
}
.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
    left: 1%;
    margin-bottom: 5px;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.1rem;
    padding: 1.4rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
}

@media screen and (max-width: 375px) {
.card-panel {
    padding: 5px;
   /* margin: 0, 0, 1rem, 0;*/
    border-radius: 20px;
   /* width: 80%;*/
}
.btn{
    border-radius: 20px;
    left: 1rem;
}
nav .brand-logo {
    position: absolute;
    color: #039be5;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
}

h5 {
    font-size: 1.2rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}
}