.text-shadow {
    text-shadow: 2px 2px 2px black;
}

.flashes h4 {
    line-height: 2;
}

body { 
    background: url('/static/images/bg_1.jpg') no-repeat;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}
/*Navbar section*/
nav .brand-logo.center{
    left: 15%;
    transform: translateX(-50%);
    margin-top: 2px;
    color: #ffce14;
}

nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

nav li a{
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
}

nav li a:hover{
    background: #ffce14;
    color: black;
    border-radius: 10px;
}

/* Titles */

.titles {
  color: white;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}

.titles h1 {
  font-family: "roboto";
  font-size: 5rem;
  margin-bottom: 0;
  color: #ffce14;
}

.titles p {
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 black;
}

/*Search Box*/
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 5s;
}

input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border:none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.boton{
    position: relative;
    border-radius: 15%;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background:#ffc107;
    left: -5px;
}

.boton:hover{
    background: #ff5722;
}

/*LogIn Form*/
.loginbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    padding: 80px 40px;
    margin-top: 100px;

}
.member{
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
    padding-bottom: 60px;
}

h3{
line-height: 5%;
color: #efed40;
text-align: center;
margin-bottom: 55px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],
.loginbox input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
::placeholder{
    color: rgba(255, 255, 255, .5);
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background: #ffc107;
    cursor: pointer;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    background: #ff5722;
    color: #262626;
}
.loginbox a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.alertas{
    color: #fff;
    font-weight: 600;
}
.travel-card .card{
    background-color: rgba(255,255,255,1); 
    
}
.card .card-content{
    height: 200px !important;
    display: table;
}

.travel-card .header{
    color: #ffab40;

}
.collection, .collection .collection-item{

    border: solid 0px;
    border-right: solid 1px black;
}

/*Adding Adventure Section*/
.loginbox2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 20px;
}

.loginbox2 h2{
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.loginbox2 .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.loginbox2 .row100 .input-field{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
} 

.select-wrapper input.select-dropdown{
    color: #ffc107;
}

.adding_Adventure .add_button{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background: #ffc107;
    cursor: pointer;
    border-radius: 20px;
}

.adding_Adventure .add_button:hover{
    background: #ff5722;
    color: #262626;
}

.loginbox2 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background: #ffc107;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    margin-left: 50px;
}
.admin{
    margin: 0px auto;
}
.btn-large{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 200px;
    background: red;
    margin-bottom: 4px;
    margin-left: 50px;
}
a {
    text-decoration: none;
    margin-left: 30px;
}
span.activator{
    color: #FFAB40;
}

@media (min-width: 280px) and (max-width: 768px){
    html{
        height: 125vh;
    }
    body{
        background-size: auto;
    }
    .titles h1{
        font-size: 20px;
    }
    .boton {
        left: 55px;
    }
    nav .brand-logo.center {
        font-size: 20px;
    }
    .card .card-content {
        width: 250px;
    }
    .card .card-content .card-title, .card .card-content p, .card .card-reveal .card-title {
        font-size: 10px;
    }
    .collection .collection-item.avatar:not(.circle-clipper)>.circle{ 
    display: none;
    }
    .collection .collection-item.avatar p{
        margin-left: -70px;
    }
    .travel-card .header{
        font-size: 14px;
    }
    .loginbox{
        width: 280px;
        height: 390px;
        top:77%
    }
    .member{
        font-size: 25px;
    }
    .alertas{
        margin: 0;
        font-size: 10px;
    }
    .center, .center-align{
        font-size: 15px;
    }
    .red.accent-4, .light-blue.lighten-1{
        margin-left: 0;
    }
    h3{
        font-size: 15px;
    }
    .loginbox2 input[type="submit"], .btn-large {
        margin-left: 0;
    }
    .row .col{
        padding: 0;
    }
    .fa-calendar-alt:before, .fa-city:before, .fa-align-left:before,
    .fa-globe:before,.fa-folder-open:before{
        content: none;
    }
    .prefix ~ .select-wrapper{
        margin-left: 1.5rem;
    }
    .row .col.s6{
        margin-left: 1px;
    }
    span.activator, .card .card-action, 
    a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
        font-size: 11px;
    }
} 

@media (min-width: 768px) and (max-width: 1024px){
}