{% extends "base.html" %}
{% block content %}

<div class="loginbox2">
    <div class="admin">
        <h3>Edit your adventures</h3>
        <form class="col s12" method="POST" action="{{ url_for('edit_adventure', adventure_id=traveler._id) }}">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-folder-open prefix yellow-text text-white"></i>
                    <select id="continent" name="continent" class="validate" required>
                        <option value="" disabled>Choose Continent</option>
                        {% for cont in continents %}
                        {% if cont._id == traveler.continent%}
                        <option value="{{ cont.continent }}" selected>{{ cont.continent }}</option>
                        {% else %}
                        <option value="{{ cont.continent }}">{{ cont.continent }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    
                </div>

                <!--Country-->

                <div class="input-field col s6">
                    <i class="fas fa-globe prefix yellow-text text-white"></i>
                    <input id="country" name="country" minlength="5" maxlength="20" value="{{traveler.country}}"
                        type="text" class="validate white-text text-darken-4" data-length="20" required>
                    <label for="country" class="white-text text-darken-4">Country</label>
                </div>
            </div>
            <!--City-->
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-city prefix yellow-text text-white"></i>
                    <input id="city" name="city" minlength="5" maxlength="40" value="{{traveler.city}}" type="text"
                        class="validate white-text text-darken-4" required data-length="40">
                    <label for="city" class="white-text text-darken-4">City</label>
                </div>

                <!--Date of travel-->

                <div class="input-field col s6">
                    <i class="fas fa-calendar-alt prefix yellow-text text-white"></i>
                    <input id="date" name="date" type="text" value="{{traveler.date}}" class="datepicker validate white-text text-darken-4"
                        required maxlength="30" data-length="30">
                    <label for="date" class="white-text text-darken-4">Date of travel</label>
                </div>
            </div>
            <!--Description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix yellow-text text-white"></i>
                    <textarea id="description" name="description" minlength="5" maxlength="200" data-length="200"
                        class="materialize-textarea validate white-text text-darken-4" required>{{-traveler.description-}}</textarea>
                    <label for="description" class="white-text text-darken-4">Description</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <div class="col s12 center-align">
                        <input type="submit" name="submit" value="Edit">
                        <!-- cancel button -->
                        <a href="{{ url_for('adventure') }}" class="btn-large">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
        {% endblock %}