<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h3 class="center-align red-text text-darken-4">Register Globetrotter</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('reg_user') }}">
            <div class="card-panel">
                <!--FirstName-->
                <div class="input-field col s6">
                <i class="fas fa-hand-rock prefix red-text text-darken-4"></i>
                <input id="icon_hand" type="text" class="validate">
                <label for="icon_hand">First Name</label>
            </div><!--LasttName-->
                <div class="input-field col s6">
                <i class="fas fa-signature prefix red-text text-darken-4"></i>
                <input id="icon_signature" type="text" class="validate">
                <label for="icon_signature">Last Name</label>
            </div>
            <!--Nationality-->
                <div class="input-field col s6">
                <i class="fas fa-location-arrow prefix red-text text-darken-4"></i>
                <input id="icon_location-arrow" type="text" class="validate">
                <label for="icon_location-arrow">Nationality</label>
            </div>
             <!--Gender-->
                <div class="input-field col s6">
                <i class="fas fa-venus-mars prefix red-text text-darken-4"></i>
                <input id="icon_venus-mars" type="text" class="validate">
                <label for="icon_venus-mars">Gender</label>
            </div>
             <!--Date of birth-->
                <div class="input-field col s6">
                <i class="fas fa-birthday-cake prefix red-text text-darken-4"></i>
                <input id="icon_birthday-cake" type="text" class="validate">
                <label for="icon_birthday-cake">Date of Birth</label>
            </div>
             <!--Phone-->
                <div class="input-field col s6">
                <i class="fas fa-phone prefix red-text text-darken-4"></i>
                <input id="icon_phone" type="text" class="validate">
                <label for="icon_phone">Phone</label>
            </div>
             <!--Email-->
                <div class="input-field col s6">
                <i class="fas fa-envelope-square prefix red-text text-darken-4"></i>
                <input id="icon_envelope" type="text" class="validate">
                <label for="icon_envelope">Email</label>
            </div>
                <!-- username -->
                <div class="row">
					<div class="input-field col s6">
						<i class="fas fa-user-plus prefix red-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s6">
						<i class="fas fa-user-lock prefix red-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large red darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
       <div class="col s12">
            <p class="center-align">
                Are you already register?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in</a> 
            </p>
       </div> 
    </div>

{% endblock %}