{% extends "base.html" %}
{% block content %}
<div class="loginbox">
    <h3 class="member">Register User</h3>
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('reg_user') }}">
        <p>Username</p>
        <input id="username" name="username" type="text" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"
            class="validate" required>
        <p>Password</p>
        <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"
            class="validate" placeholder="*****" required>
        <input type="submit" name="submit" value="Sign In">
        <p class="center-align">
            Are you already register?
            <a href="{{ url_for('login') }}" class="white-text text-darken-4">Log in</a>
        </p>
    </form>
    </div>
    {% endblock %}